@{
    ViewBag.Title = "My notes";
}

@model IEnumerable<NoteDto>

<h3>My notes</h3>

<table class="table table-striped text-center">
    <tr>
        <th>Title</th>
        <th>D / E / R</th>
    </tr>
    @{
        foreach (var note in Model)
        {
            <tr>
                <td>
                    @note.Title
                </td>
                <td colspan="3">
                    <a class="btn btn-outline-info" asp-controller="Note" 
                        asp-action="GetNoteById" asp-route-id="@note.Id">Details</a>
                    &nbsp;
                    <a class="btn btn-outline-success" asp-controller="Note"
                       asp-action="UpdateNote" asp-route-id="@note.Id">Edit</a>
                    &nbsp;
                    <a class="btn btn-outline-danger" asp-controller="Note"
                       asp-action="DeleteNote" asp-route-id="@note.Id">Remove</a>
                </td>
            </tr>
        }
    }
</table>