@{
    ViewBag.Title = "My notes";
}

@model IEnumerable<NoteDto>

<h3>My notes</h3>

<table class="table table-striped text-center">
    <tr>
        <th>Title</th>
        <th>Created time</th>
        <th>Updated time</th>
        <th>D / E / R</th>
    </tr>
    @{
        foreach (var note in Model)
        {
            <tr>
                <td>
                    @note.Title
                </td>
                <td>
                    @note.CreatedTime.ToString("dd/MM/yyyy - hh:mm")
                </td>
                <td>
                    @{
                        if (note.IsUpdated)
                        {
                            @note.UpdatedTime.ToString("dd/MM/yyyy - hh:mm")
                        }
                        else
                        {
                            @note.UpdatedTime.ToString("---");
                        }
                    }
                </td>
                <td colspan="3">
                    <a href="#" class="btn btn-outline-info">Details</a>
                    &nbsp;
                    <a href="#" class="btn btn-outline-success">Edit</a>
                    &nbsp;
                    <a href="#" class="btn btn-outline-danger">Remove</a>
                </td>
            </tr>
        }
    }
</table>